.git
.github
.gitignore
.editorconfig
.phpunit.result.cache
.phpunit.cache
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
Dockerfile
docker-compose*.yml
.env
.env.backup
.env.production
.opencode
.agents
AGENTS.md
DESIGN.md
deploy
