<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent direct access to sensitive files and directories
    RewriteRule ^(\.env|\.git|composer\.(json|lock)|package\.(json|lock)|pnpm-lock\.yaml|artisan|storage|bootstrap\/cache) - [F,L,NC]

    # Rewrite all traffic to /public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
